# Gradle 캐시 및 불필요한 빌드 폴더 제외
**/.gradle
**/build
!build/libs/
!build/libs/*.jar

# IDE 관련
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin
!**/src/main/**/bin
!**/src/test/**/bin

# IntelliJ IDEA
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out
!**/src/main/**/out
!**/src/test/**/out

# VS Code
**/.vscode

# 데이터베이스 & 환경 변수 파일
**/db_dev.mv.db
**/db_dev.trace.db
**/.env

# Fly.io config
fly.toml
